<!-- Include this file to be able to fetch flash messages in queue and display them on page. Alerts fades away in 5 seconds. -->
<!-- If you set a flash message in a route that doesn't render message in next page, it gets added to queue, which will be displayed all at once where this template is used. -->

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <div class="container mt-4" id="flash-message">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
                </div>
            {% endfor %}
        </div>
        <!-- Script for alert auto fade and delete -->
        <script>
            setTimeout(function() {
                var flashMessage = document.getElementById('flash-message');
                flashMessage.classList.add('fade');
                setTimeout(function() {
                    flashMessage.remove();
                }, 1000);
            }, 3000);
        </script>
    {% endif %}
{% endwith %}
