<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads</title>
    <!-- Bootstrap CSS CDN link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Uploaded Files</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Filename</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file_info in files %}
                    <tr>
                        <td>{{ file_info.filename }}</td>
                        <td>
                            <form action="{{ url_for('delete', filename=file_info.filename) }}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                            <a href="{{ url_for('file_download', file_id=file_info.file_id, filename=file_info.filename) }}" class="btn btn-outline-primary">Download</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileInput">Choose File:</label>
                <input type="file" class="form-control-file" id="fileInput" name="file" accept=".pdf, .doc, .docx, .txt">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js CDN links (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
