<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  <!-- Bootstrap CSS CDN link -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/"><b>TelegramCloud:V1.0</b></a>
        <a href="/validate/" class="btn btn-primary ml-auto" onclick="return confirm('This might take a long time. Do you wish to proceed?')"> Re-Validate Schema </a>
    </nav>
    <div class="container mt-4">
    <!-- <h3>Uploaded Files</h3> -->
    <form action="{{ url_for('upload') }}" method="post" class="form" enctype="multipart/form-data">
        <table class="table table-striped table-hover">
            <tr class="table-info">
                <th><label for="uf">Files To Upload:</label></th>
                <th><input type="file" name="upload_file" id="uf" multiple /></th>
                <th><button type="submit" class="btn btn-md btn-success"> Upload </button></th>
            </tr>
        </table>
    </form>
    <table class="table table-hover table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Size</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file_info in files %}
                <tr>
                    <td>{{ file_info.filename }}</td>
                    <td>{{ file_info.size }} KB</td>

                    <td>
                        <form action="{{ url_for('delete', message_id=file_info.message_id) }}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure want to delete this file? There is no taking it back!!')">Delete</button>
                        </form>
                        <a href="{{ url_for('file_download', file_id=file_info.file_id) }}" class="btn btn-outline-primary">Download</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>
