<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Recovery</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"></link>  <!-- Bootstrap CSS CDN link -->
</head>
<body>
{% include 'navbar.html' %}
<br>
<h3>Please Enter the File ID you got after schema upload!!</h3>
<form class="form" action="/persist/download" method="post">
    <label for="file_id">File ID:</label>
    <input type="text" id="file_id" name="file_id" required>
    <br>
    <button type="submit" class="btn btn-outline-success">Recover</button>
</form>
</body>
</html>
